<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="con-lg-2"></div>

        <div class="con-lg-8 my-5">
            <h1 class="text-center">Olá, <%= user.email  %> </h1>
            <P class="text-center lead">Clique em sair para criar outra conta</P>
            <%- include('includes/messages')  %> 
           
        </div>

        <div class="con-lg-2"></div>

    </div>
</div>

<%- include('includes/footer') %> 